*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
/* body section */
body{
    background-color: rgb(128, 155, 241);
    /* background-color: rgb(4, 34, 4); */
}

/* toggle-btn section */
.toggle{
    margin:30px;
}
#toggler{
    -webkit-appearance: none;
    appearance: none;
    height:40px;
    width:80px;
    background-color: rgb(4, 9, 80);
    border-radius: 20px;
    right:0;
    border:none;
    outline:none;
    margin-top: 3px;
    margin-right: 20px;
    position: absolute;
    cursor:pointer;
}
#toggler:after{
    position: absolute;
    content: "";
    height:30px;
    width:30px;
    top:5px;
    left:5px;
    background:linear-gradient(red,yellow);
    border-radius: 50%;

}
.dark{
    background-color: rgb(4, 4, 49);
}
.dark #toggler{
    background-color: rgb(45, 92, 153);
}
.dark #toggler:after{
    background: transparent;
    box-shadow: 10px 10px white;
    top:-5px;
    left:30px;
}

/* container section */
.container{
    width:100%;
    position: absolute;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
/* card-1 section */
.card-1{
    width:65vmin;
   /* margin: auto; */
    background-color:transparent;
    align-items: center;
    border:none;
    border-radius: 20px;
    /* background: url("i1.png") no-repeat center center; */
}
.card-1 img{
    width:100%;
    border-radius: 20px;
     /* display: block;
     margin:auto; */
     align-items: center;
    height:410px;
     justify-content: center;
  
 }
/* card-2 section */
.card-2{
    margin:10px;
     width:65vmin;
     background-color:rgb(48, 107, 196);
     align-items: center;
     margin-left: 25px;
     border-radius: 20px;
     box-shadow:inset -5px -5px 13px rgb(0, 0, 0, 0.15 ),
     inset 5px 5px 12px rgb(77, 130, 211) ;
     
    ;
 }
  /* inset -5px -5px 12px white,
 inset 5px 5px 12px rgb(0, 0, 0, 0.15); */

 .card-2 #result{
    text-align: center;
    justify-content: center;
}
/* input area section */
.search-box{
    display:flex;
    justify-content: space-between;
}

.search{
    margin:10px;
    width:70%;
    padding:9px;
    border:none;
    outline:none;
    background-color: transparent;
    border-bottom: 3px solid rgb(17, 64, 134);
    font-size: 30px;
}

input:focus{
    border-bottom: 3px solid rgb(5, 5, 73);
}

/* search-icon styling */
#search-btn{
    width:10%;
    padding:3px;
    margin-right: 20px;
    margin-top: 20px;
    color:rgb(11, 44, 94);
    background-color: transparent;
    font-size: 40px;
    border:none;
    outline:none;
}
/* img for show-case */
.main-img{
    height: 100px;
    width:100px;
    margin-top: 10px;
}
/* displaying current weather img */
.show-weather{
    height:100px;
    width:100px;
}
/* heading for displaying weather information */
h2{
    margin-top: 15px;
    font-size: 30px;
    color:white;
}
h3{
    margin-top: 10px;
    font-size: 20px;
    color:white;
}
h4{
    margin-top: 10px;
    font-size: 25px;
    color:white;
}
/* displaying min-max temperature */
.temp-min-max{
    display:flex;
    margin:10px;
    text-align: center;
    align-items: center;
    justify-content:space-evenly;
}
/* displaying current month and year with reference to weather */
.day-month{
    justify-content: center;
}

#day{
    text-align: center;
    font-size: 40px;
    color:rgb(4, 4, 49);
    margin:20px;
}





/* .container{
    position:absolute;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    border:3px solid grey;
    width:130vmin;
 
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    justify-content: center;
}

.box{
    background-color: blue;
    margin:10px;
    width:60vmin;
    padding:10px;
} */