*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
/* body section */
body{
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
    min-height: calc(100vh - 1px);
    padding:1rem;
    background-color: rgb(98, 117, 224);
}

img{
    max-width: 100%;
    width:100%;
    padding:1rem;
}

/* toggle-btn section */
.toggle{
    margin-bottom: 1rem;
}

.header{
    width:100px;
    margin: 2rem;
    align-items: flex-end;
}

#toggler{
    -webkit-appearance: none;
    appearance: none;
    height:40px;
    width:80px;
    background-color: rgb(4, 9, 80);
    border-radius: 20px;
    right:0;
    border:none;
    outline:none;
    margin: 1.25rem;
    /* margin-top: 3px;
    margin-right: 20px; */
    position: absolute;
    cursor:pointer;
}

.dark{
    background-color: rgb(4, 4, 49);
}
.dark #toggler{
    background-color: rgb(45, 92, 153);
}
.dark #toggler:after{
    background: transparent;
    box-shadow: 10px 10px white;
    top:-5px;
    left:30px;
}

#toggler:after{
    position: absolute;
    content: "";
    height:30px;
    width:30px;
    top:5px;
    left:5px;
    background:linear-gradient(red,yellow);
    border-radius: 50%;

}

/* container section */
.container{
    width:100%;
    padding:1.25rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.14);
    margin: 2rem 0;
}

/* card-1 section */

.card-1{
  border-radius: 5px;
  margin: 2rem 0;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.14);
}

.search-box{
    margin: 1rem;
    align-items: center;
    display: flex;
    gap:1rem;
    justify-content: center;
}

.search-box .search{
  padding:10px 10px ;
  width: 90%;
  margin: 1rem;
  color:white;
  background-color: rgb(153, 151, 175);
  border: 2px solid rgb(90, 86, 155);
  border-radius: 2rem;
  font-size: 16px;
}

.search-box .search:focus{
    border:none;
    outline:none;
    border: 2px solid rgb(82, 69, 194);
}

.search-box #search-btn{
    background: transparent;
    color:rgb(18, 29, 92);
    border:none;
    outline:none;
    font-size: 30px;
    /* margin: 1.25rem ; */
}

.search-box #search-btn:hover{
    color:blue;
    cursor: pointer;
}

/* .container #result{
    padding: 1.25rem;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.14),
    -5px -5px 5px rgba(0,0,0,0.14);
} */

/* card-2 section */
.container .card-2{
    padding: 1.25rem;
    border-radius: 5px;
    margin:2rem 0;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.14);
}

#result .head2{
    text-align: center;
    margin: 1rem;
    font-size: 2.25rem;
    color:white;
}

#result .head3{
    text-align: center;
    margin: 1.25rem;
    font-size: 1.50rem;
    color:white;
}

#result .head4{
    text-align: center;
    margin: 1.25rem;
    font-size: 1.50rem;
    color:white;
}

#result #day{
    text-align: center;
    font-size: 1.50rem;
    margin:1.25rem;
    color:white;
}

.attribution .fa-heart{
    color:red;
    animation: pop-heart 3s ease-in-out infinite;
}

@keyframes pop-heart{
    0%{
        transform: scale(1);
    }

    20%{
        transform: scale(1.25);
    }

    40%{
        transform: scale(1);
    }

    60%{
        transform: scale(1.25);
    }

    80%{
        transform: scale(1);
    }
}

/* attribution section */
.attribution{
    font-size: 16px;
    color:white;
    text-align: center;
}

.attribution a{
    color:rgb(28, 28, 175);
    text-decoration: none;
}

/* media queries */
 
@media(min-width:1024px){
    .container{
        display:flex;
        gap:2rem;
    }

}




  

 






